@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Plus+Jakarta+Sans:wght@700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
}
:root{
  --background:#f8f9fc;
  --primary:#157ABF;
  --accent:#BDD1FF;
  --text:#252528;
  --sidebar-color:#ffffff;
  --link-dropdown:#252528;
  --bg-card:#ffffff;
}
.dark{
  --background:#343434;
  --sidebar-color:#484848;
  --primary:#339FE9;
  --primary-hover:#0079c9;
  --text:#F4F9E9;
  --link-dropdown:#9f9f9f;
  --bg-card:#434343;
}
body {
  min-height: 100vh;
  background-color: var(--background);
}
::-webkit-scrollbar{
  background: transparent;
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  width: 6px;
  border-radius: 6px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  margin-left: -300px;
  background-color:var(--sidebar-color);
  transition: 0.4s;
}
.side-brand{
  margin:1rem auto;
  color: var(--primary);
  font-size: 3rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.side-item .active{
  background-color: var(--primary);
  color: #ffffff;
  margin-right: 1rem;
  border-radius: 6px;
  padding:10px;
}
.side-link {
  font-size: 16px;
  text-decoration: none;
  color: #9f9f9f;
  display: flex;
  align-items: center;
  margin-left: -1rem;
  margin-top: 1rem;
  padding: 0.4rem 0;
}
.side-nav{
  list-style: none;
  text-decoration: none;
}
/* Sidebar */

/* topbar */
.title{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--text);
}
#vertical-line{
  width: 2px;
  height: 2rem;
  background-color: var(--text);
}
.profile-text{
  color: var(--text);
}
.img-profile{
  width: 30px;
}
.navbar{
  background-color: var(--background);
}
.text-dashbo{
  color: #fff;
}
.navbar-left,
.navbar-right{
  display: flex;
  align-items: center;
}
.toggle{
  display: flex;
  align-items: center;
  color:var(--primary);
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch{
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #bebebe;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-left: 5px;
}
.switch::after{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background:var(--primary);
  border-radius: 50px;
  transition: 0.1s;
}
input:checked + .switch{
  background-color: #747474;
}
input:checked + .switch::after{
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.bell{
  color: var(--primary);
  margin: 0 1rem;
}
.navbar-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown{
  margin-right: 1rem;
}
.dropdown-toggle{
  border: none;
  background: none;
  padding: 3px 10px;
}
.dropdown-menu{
  margin-right: 4.7rem;
  margin-top: 5px;
  background-color: var(--background);
  border: 1px solid #888888;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-menu a{
  color: var(--link-dropdown);
}
.dropdown-menu a:hover{
  color: #252528;
  background-color: #bebebe;
}
/* topbar */

/* content-dashboard */
.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}
.active-cont {
  margin-left: 200px;
}
.btn-menu{
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: var(--primary);
}
.btn-search{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.form-control{
  margin-right: 6px;
}
.bg-card,
.bg-card-chart,
.bg-card-table{
  background-color: var(--bg-card);
  border-radius: 10px;
}
.bg-card-chart,
.bg-card-table{
  padding: 10px;
}
.table,
.card-title{
  color: var(--text);
}
.secondary-bg{
  border-radius: 10px;
  background-color: var(--accent);
  border: none;
  color: #252528;
}
.no{
  margin-top: 15px;
}
.butt-add{
  background-color: var(--primary);
  color:#fff;
}
.sidebar-heading{
  color: var(--text);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.ft{
  color: var(--text);
}
/* content-dashboard */